<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!--Font Families-->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Permanent+Marker&display=swap" rel="stylesheet">


  <!-- External Font Awesome icons -->
  <script src="https://kit.fontawesome.com/7b217e7c39.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>


</head>


  <%- include('partials/_header') %>

  <nav class="nav-area">
    <a class="home" href="/">Home</a>
    <a class="eat" href="/tasks/1">Eat</a>
    <a class="watch" href="/tasks/2">Watch</a>
    <a class="read" href="/tasks/3">Read</a>
    <a class="buy" href="/tasks/4">Buy</a>
    <a class="do" href="/tasks/5">Do</a>
    <a class="other" href="/tasks/6">Other</a>
  </nav>

  <main>
    <div class="profileform" style="padding: 20px;">
          <h1>User Profile</h1>
            <hr>
            <form method="POST" name="update-profile">
            <div class="form-group2" style="padding: 10px;">
              <label>User ID</label>
              <input type="id" class="form-control" name="id"
                value="<%= user.username %>" disabled>
            </div>

            <div class="form-group2" style="padding: 10px;">
              <label>Email Address</label>
              <input
              type="email"
              class="form-control"
              name="email"
              value="<%= user.email %>">
            </div>

            <div class="form-group2" style="padding: 10px;">
              <label>Username</label>
              <input
              type="name"
              class="form-control"
              name="username"
              value="<%= user.name %>">
            </div>

            <div class="form-group2" style="padding: 10px;">
              <label>Password</label>
              <input
              type="password"
               class="form-control"
               name="password"
               value="<%= user.password %>">
            </div>

            <div class="form-group2" style="padding: 10px;">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
      </div>
    </main>



</html>
